<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p> -->
    <hr>
    <!-- <img src="https://i.etsystatic.com/21877275/r/il/6a5640/4970900455/il_fullxfull.4970900455_btfh.jpg" alt="middle finger" style="display: flex;justify-content: center;align-items: center; height:300px; width:300px;margin-left: 400px;margin-bottom: 10px;"> -->
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
